<!doctype html>
<title>{%block title%}{%endblock%} - MySite</title> 
<!--Will change the title displayed in the browser's tab and window title.-->
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<nav>
    <h1>Flaskr</h1>
    <ul>
        {%if g.user%}
            <li><a href="{{url_for('profile.about')}}">{{g.user['username']}}</a></li>
            <li><a href="{{url_for('auth.logout')}}">Log Out</a></li>
        {%else%}
            <l1><a href="{{url_for('auth.register')}}">Register</a></l1>
            <li><a href="{{url_for('auth.login')}}">Log In</a></li>
        {%endif%}
    </ul>
</nav>
<section class="content">
    <header>
        {%block header%}{%endblock%}
        <!--Is similar to title, but will change the title displayed on the page-->
    </header>
    {%for message in get_flashed_messages()%}
        <div class="flash">{{message}}</div>
    {%endfor%}
    {%block content%}{%endblock%}
    <!--is where the content of each page goes, such as the login form or a blog post-->
</section>